[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eponge"]
	path = eponge
	url = https://github.com/krzjoa/eponge
[submodule "matricks"]
	path = matricks
	url = https://github.com/krzjoa/matricks
[submodule "path.chain"]
	path = path.chain
	url = https://github.com/krzjoa/path.chain
