[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "eponge"]
	path = eponge
	url = https://github.com/krzjoa/eponge
	shallow = true
	registered = true
[submodule "m5"]
	path = m5
	url = https://github.com/krzjoa/m5
	shallow = true
	registered = true
[submodule "matricks"]
	path = matricks
	url = https://github.com/krzjoa/matricks
	shallow = true
	registered = true
[submodule "path.chain"]
	path = path.chain
	url = https://github.com/krzjoa/path.chain
	shallow = true
	registered = true
